@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --dark : #082032;
  --blueDark: #2C394B;
  --blueLight: #334756;
  --orange: #FF4C29;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: white;
}
.signup-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url(./Components/images/signImg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 300px;
  padding: 25px 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.250);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-i {
  font-size: 3rem;
  border: 2px solid white;
  background-color: #08203295;
  padding: 2px;
  border-radius: 50%;
  color: white;
}
.input-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 25pt;
  width: 300px;
  font-size: 1.5rem;
  color: var(--blueDark);
  background-color: white;
  margin-top: 20px;
}
.input-div input {
  background: none;
  border-style: none;
  height: 100%;
  width: 250px;
  outline: none;
  font-size: 10pt;
  font-weight: 600;
}
.input-div input::placeholder {
  font-size: 10pt;
}

.logo {
  margin-top: 5px;
  display: flex;
  align-items: center;
  background: #cc3b1f;
  height: 5rem;
}
.logo h1 {
  color: #082032;
  font-size: 4rem;
}
.logo img {
  height: 6rem;
  margin-left: 5px;
}
.navigation-div {
  display: flex;
  margin: 0;
}
.navbar-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
}
.navbar-container img {
  height: 40px;
  margin-left: 20pt;
}
.hamburger {
  color: white;
  font-size: 2rem;
  background-color: var(--orange);
  padding: 12px;
  border-radius: 50%;
  margin-right: 20pt;
}
.hamburger:hover {
  font-size: 2rem;
  background-color: #9c220a;
  cursor: pointer;
}
.nav-list {
  z-index: 50;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  height: 100vh;
  width: auto;
  animation-name: navAnimated;
  animation-duration: 0.5s;
}

@keyframes navAnimated {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0;
  }
}
.nav-item {
  display: flex;
  align-items: center;
  align-content: center;
  width: 200px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 0 10px 5px;
  border-right: 5px solid white;
  border-radius: 10px 0 0 10px;
}
.nav-item:hover {
  border-right: 5px solid var(--orange);
  color: var(--orange);
  background-color: #d6e7f3;
}
.nav-item span {
  text-transform: capitalize;
  margin-left: 8pt;
  font-size: 10pt;

}
.nav-icon {
  font-size: 10pt;
  margin-left: 10pt;
}

.landing-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-main {
  height: 80vh;
  width: 95vw;
  margin: auto;
}
.landing-main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.landing-text {
  position: absolute;
  margin-left: 2.5vw;
  margin-top: 40vh;
}
.landing-text p {
  width: auto;
  color: #2C394B;
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: 800;
}
.landing-text h1 {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  margin-top: -40px;
  border-bottom: 10px solid var(--orange);
}
.social-media-div {
  width: 96vw;
  text-align: end;
  margin-top: 5pt;
}
.galleries-div {
  display: flex;
  flex-direction: column;
}
.galleries {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 96vw;
  margin: auto;
}
.title-div {
  height: 40pt;
  width: 300px;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: var(--orange);
}

.video-text {
  display: flex;
  flex-direction: column;
}
.teams-div {
  margin-top: 20pt;
}
.player-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-content: space-around;
}
.player-card {
  padding: 20px;
  height: auto;
  background-color: #082032;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-right: 20pt;
  margin-top: 20pt;
}
.player-card img {
  height: 400px;
}
.player-card .name {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}
.player-card .post {
  margin: 0;
  color: var(--orange);
}
.player-card .post span {
  font-size: 1.5rem;
}
.photos-div {
  background: var(--blueLight);
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 10pt 0;
  color: white;
}

.photo-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.slide-image {
  height: 200px;
}
.btn-plus {
  background: transparent;
  font-size: 2rem;
  border: 2px solid var(--orange);
  padding: 5px 10px;
  color: var(--orange);
  cursor: pointer;
}
.newsletter-div {
  margin-top: 20pt;
  background: var(--dark);
  height: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newsletter-div h1 {
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-size: 2rem;
}
.newsletter-div p {
  font-size: 15pt;
  color: white;
}
.newsletter-div button {
  font-size: 15pt;
  text-transform: uppercase;
  color: var(--orange);
  background: transparent;
  border: 2px solid var(--orange);
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
  
}
button {
  text-transform: uppercase;
}
button:hover {
  color: white;
  background: var(--orange);
}
.newsletter-div input  {
  height: 30pt;
  margin-bottom: 10pt;
  width: 380px;
  font-size: 12pt;
  outline: none;
}
.newsletter-div textarea {
  height: 60pt;
  margin-bottom: 10pt;
  width: 380px;
  font-size: 12pt;
  outline: none;
}
.inscription-nl {
  width: 380px !important; 
}
.checkbox-div {
  width: 300px;
  display: flex;
  color: white;
}
.checkbox-div input {
  width: auto;
  width: 50pt;
}

@media screen and (max-width : 420px) {
  .photos-div {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .newsletter-div input {
    width: 320px;
  }
}